* {
    margin: 0;
    padding: 0;
    /*hacemos que las cajas se midan desde fuera*/
    box-sizing: border-box;
}

html {
    font-size: 0.625em;
    /*hace que el scroll vaya suave*/
    scroll-behavior: smooth;
}

body {
    /* El tamaño de las fuentes debe ser expresada en rem. Al tener configurado html con 0.625em esto nos da un valor de 16px */
    /* Modificar para configurar las características de fuente, color y fondo */
    background-color: gainsboro;
    font-weight: 400;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
}

/*Hacer que los iframes no tengan el borde predeterminado que pone el navegador*/

iframe {
    border: 0;
}

a {
    text-decoration: none;
}

:focus {
    outline-color: #ccc;
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: thin;
}

ul, ol, li {
    list-style: none;
}