/* ÃNDICE 

RESET 
General
Container
Header
Nav
Main menu
Main
Articles
Sections
Asides
Footer
Media queries

*/

@import '/css/reset.css';
:root {
    --color-primary: #e62429;
    --color-accent: #202020;
    --negro: black;
    --azul: #4684e2;
    --amarillo: rgb(252, 224, 64);
}

nav {
    position: sticky;
    top: 0px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px;
}

/** ------- NAV ----------**/

nav li {
    border: 1px var(--color-accent) solid;
    background-color: wheat;
    width: 25%;
}

nav>ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    padding: 2%;
}

nav a:hover {
    display: block;
    width: 100%;
    background-color: var(--color-accent);
    color: white;
    font-weight: bold;
}

header {
    /* background-color: #202020; */
    color: white;
    text-align: center;
    background-image: -webkit-linear-gradient(top, var(--color-accent) 10%, var(--color-primary) 90%);
    background-image: -o-linear-gradient(top, var(--color-accent) 10%, var(--color-primary) 90%);
    background-image: -moz-linear-gradient(top, var(--color-accent) 10%, var(--color-primary) 90%);
    width: 100%;
    box-shadow: 0px 0px 5px var(--color-accent);
}

h1, h2, p, article {
    padding: 2%;
}
h2{
    font-size: 4rem;
}
h1, h2, article {
    text-align: center;
}

p {
    text-align: justify;
}

.efecto {
    padding: 10px;
    background-color: var(--color-primary);
    animation: example 4s infinite;
    border-radius: 3px;
}

@keyframes example {
    0%   {top: 0px; left: 0px; background: var(--color-primary);}
  25%  {top: 0px; left: 100px; background: var(--color-accent);}
  50%  {top: 100px; left: 100px; background: gray;}
  75%  {top: 100px; left: 0px; background: orange;}
  100% {top: 0px; left: 0px; background: var(--color-primary);}
}

img {
    width: 100%;
}



section {
    display: flex;
}

article {
    min-width: 30%;
}
#superlogo{
    width: 100px;
    float: left;
    margin: 2%;
    filter: drop-shadow(5px 5px 5px var(--azul));
}
.personajes {
    border-radius: 15px;
    background-color: var(--azul);
    max-width: 75%;
    margin: 40% auto;
    padding: 5%;
    box-shadow: 5px 5px 5px;
}

.personajes li {
    padding: 5%;
}

.pic {
    max-width: 120px;
    margin: 5%;
    filter: drop-shadow(5px 5px 5px var(--color-accent));
}
.pic:hover {
    transition: max-width 1s;
    max-width: 250px;
}
.batman{
    width: 25%;
    margin-top: 5%;
}
.batman:hover{
    width: 65%;
    transform: rotateY(360deg);
    transform-origin: center;
    transition:  2s ease all;
}
td{
    width: 250px;
}
footer {
    display: flex;
    background-color: var(--color-accent);
    color: white;
    width: 100%;
    justify-content: space-between;
    background-image: -webkit-linear-gradient(top, var(--color-primary) 10%, var(--color-accent) 90%);
    background-image: -o-linear-gradient(top, var(--color-primary) 10%, var(--color-accent) 90%);
    background-image: -moz-linear-gradient(top, var(--color-primary) 10%, var(--color-accent) 90%);
}

footer ul {
    width: 30%;
}

footer li {
    padding: 3% 10%;
    width: 100%;
}

#logos {
    display: flex;
    justify-content: space-around;
    box-shadow: none;
    width: 30%;
}

#logos img {
    box-shadow: none;
    border: none;
    width: 48%;
}

#enlaces li>a {
    margin: 5%;
    color: white;
}